.filler{
	padding-bottom: 20px;
}

td{
	border: solid black 5px;
	background-image: 100%;
}

table{
		border: solid black 5px;
	margin: auto;
}

body{
	background-color: black;
}

h1{
	font-family: 'Bangers', cursive;
	color: white;
}
h3{
	font-family: 'Bangers', cursive;
	color: white;

}
span{
	font-family: 'Bangers', cursive;
	color: white;

}

#you{

	font-size: 100px;
	float: right;
	font-family: 'Bangers', cursive;
	color: white;

}

#win{
	font-size: 100px;
	font-family: 'Bangers', cursive;
	color: white;
}